body {
    font-family: 'Poppins', sans-serif;  
    min-height: 1200px; 
}

.banner {
    background-color: #ffcd58;
    color: #010101;
    text-align: center;
    padding: 5px;
    font-size: 15px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
  
th, td {
    text-align: left;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #ddd;
}

.applications {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0px 10px;
}

.app-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    margin-bottom: 40px;
}

.app-header .title {
    color: #000;
    text-decoration: none;
}

.app-header .title span {
    font-weight: 700;
}

.app-header .feedback {
    font-size: 14px;
}

.app-header .feedback a {
    text-decoration: none;
}

.footer {
    font-size: 12px;
    padding: 20px;
}